book.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Book">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Book_ID" type="xs:unsignedByte" />
              <xs:element name="Book_Title" type="xs:string" />
              <xs:element name="Book_Author" type="xs:string" />
              <xs:element name="Book_Description" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>